body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}
p {
  font-size: 15px;
  color: hsl(216, 15%, 48%);
  font-weight: 400;
  line-height: 1.3;
  padding: 0 20px;
  margin: 10px 0 0 0;
}
h2 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 22px;
  margin: 20px 0 15px 0;
  padding: 0 15px;
}
section {
  width: 320px;
  max-width: 320px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
  padding: 16px 16px 40px 16px; 
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
}

img {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}
